/* This is a CSS file */

.item-chart{
    width: 150px;
    height:150px;
    
}  
.item-cont{
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    color: #454545;
    transition: 0.3s;
}
a, a:focus, a:hover {
    text-decoration: none;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}
table#active-depts{
    font-size: small;
    text-align: center;
}
#activities{
    font-size:medium;
}
.panel-head{
    background-color: #ff5641;
    color: #fff;    
    padding: 10px;
}
.jysy-caption{
    margin-top: 10px;
    margin-bottom: 10px;
}
#solved-list, #unsolved-list, #zmyq-list, #fmyq-list, #fwwm-solved-list, #fwwm-unsolved-list, #yqrd-jwsj-list, #yqrd-jnsj-list{
    display: block;
    overflow:hidden;
    text-overflow:ellipsis;
    word-break:keep-all;
    white-space:nowrap; 
}
.solve-unsolve-item, .zm-fm-item, .yqsj-item{
    display: block;
    overflow:hidden;
    text-overflow:ellipsis;
    word-break:keep-all;
    white-space:nowrap; 
}
.item-label{
    border: 1px solid ;
}
.djxf-numbers-title, .fwwm-numbers-title, yqrd-numbers-title{
    font-size: larger;
}
.djxf-numbers-count, .fwwm-numbers-count, .yqrd-numbers-count{
    color: #f62626;
    font-size: x-large;
}
.djxf-numbers-desc, .fwwm-cmp, .yqrd-cmp{
    font-size: small;
    color: #8e8e8e;
}
.djxf-numbers-up, .fwwm-numbers-up, .yqrd-numbers-up{
    color: #ff4f38;
    font-size: large;
}
.djxf-numbers-down, .fwwm-numbers-down, .yqrd-numbers-down{
    color: #059520;
    font-size: large;
}