/* This is a CSS file */

.item-chart{
    width: 150px;
    height:150px;
    
}  
.item-cont{
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    color: #454545;
    transition: 0.3s;
}
a, a:focus, a:hover {
    text-decoration: none;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}
table#active-depts{
    font-size: small;
    text-align: center;
}
#activities{
    font-size:medium;
}
.jysy-panel-head{
    background-color: #ff5641;
    color: #fff;    
    padding: 10px;
}
.jysy-caption{
    margin-top: 10px;
    margin-bottom: 10px;
}
#solved-list, #unsolved-list, #zmyq-list, #fmyq-list{
    display: block;
    overflow:hidden;
    text-overflow:ellipsis;
    word-break:keep-all;
    white-space:nowrap; 
}
.solve-unsolve-item, .zm-fm-item{
    display: block;
    overflow:hidden;
    text-overflow:ellipsis;
    word-break:keep-all;
    white-space:nowrap; 
}
.item-label{
    border: 1px solid ;
}